<h2>Editors</h2>

<hr />

<div class="row">

    <div class="col-lg-5">
        <h4>Add new</h4>
        <form id="editors-form">
            <div class="form-group">
                <label for="editor-name">Enter name</label>
                <input type="text" class="form-control" id="editor-name" />
                <div class="invalid-feedback">
                    Please enter a Editor name
                </div>
            </div>
            <div class="form-group">
                <label for="editor-thumbnail">Thumbnail</label>
                <input type="file" class="form-control" id="editor-thumbnail" />
                <div class="invalid-feedback">
                    Please enter a valid thumbnail
                </div>
            </div>
            <div class="form-group">
                <img id="selected-thumbnail" width="250" height="150" src="#" />
            </div>
            <div class="form-group">
                <div class="progress">
                    <div class="progress-bar" id="progress" style="width:0%">0%</div>
                </div>    
            </div>
            <div class="form-group">
                <button id="save-editor" type="button" class="btn btn-primary">Save</button>
                <button id="reset-editor" type="button" class="btn btn-primary" onclick="resetForm()">Reset</button>
            </div>
        </form>
        <div id="result">

        </div>
    </div>
    <div class="col-lg-7">
        <h4> Saved Editors </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody id="editors">

            </tbody>
        </table>


    </div>
</div>   
<script>
    var user = firebase.auth().currentUser;

    //if(user)
    
      console.log(user.uid);
       var validImageTypes = ["image/gif", "image/jpeg", "image/png","image/jpg"];    
       
       $("#selected-thumbnail").hide();
        function previewThumbnail(thumbnail){
            if(thumbnail.files && thumbnail.files[0]){
                var reader = new FileReader(); 
                reader.onload = function(e){
                    $("#selected-thumbnail").attr('src', e.target.result);
                    $("#selected-thumbnail").fadeIn();
                }
                reader.readAsDataURL(thumbnail.files[0]);
            }
        }
        $("#editor-thumbnail").change(function(){
            previewThumbnail(this);
        }); 
        
    $("#save-editor").click(function(){
        $("#editor-name").removeClass("is-invalid");
        $("#editor-thumbnail").removeClass("is-invalid");
        var ediname = $("#editor-name").val(); 
        var thumbnail = $("#editor-thumbnail").prop("files")[0];
         if(!ediname){
            $("#editor-name").addClass("is-invalid");
            return; 
        }
        if(thumbnail == null){
            $("#editor-thumbnail").addClass("is-invalid");
            return; 
        }

        if($.inArray(thumbnail["type"], validImageTypes)<0){
            $("#editor-thumbnail").addClass("is-invalid");
            return; 
        }
    

        var database = firebase.firestore().collection("Editors").doc(""+ediname+"");
        database.get().then(function(snapshot){
        console.log("Its in database");
        if(snapshot.exists){
            $("#result").attr("class", "alert alert-danger");
            $("#result").html("Editor already exist");
            resetForm();
        }
        else{ 
                //1. upload the selected thumbnail to firebase storage
                console.log("Its in database Else");
                var name = thumbnail["name"];
                var ext = name.substring(name.lastIndexOf("."), name.length);
                var thumbname = new Date().getTime(); 
                var storageRef = firebase.storage().ref(ediname + "/" + thumbname + ext);
                var uploadTask = storageRef.put(thumbnail);
                uploadTask.on("state_changed", 
                    function progress(snapshot){
                        var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log("Progrss is around "+ percentage+"%");
                        $("#progress").html(Math.round(percentage)+"%");
                        $("#progress").attr("style", "width: "+percentage + "%");
                    }, 
                    function error(err){
                    }, 
                    function complete(){
                        uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                            var edi = {
                                "thumbnail": downloadURL, 
                            };
                            database.set(edi).then(function(err){
                                if(err){
                                    $("#result").attr("class", "alert alert-danger");
                                    $("#result").html(err.message);
                                }else{
                                    $("#result").attr("class", "alert alert-success");
                                    $("#result").html("Editor added");
                                    console.log("Its in database uploaded");
                                }
                                resetForm();
                            }); 
                        });
                    }
                );
            }
        });
    });
    

    function resetForm(){
       $("#editors-form")[0].reset(); 
       $("#selected-thumbnail").fadeOut();
       $("#upload-progress").html("0%");
    }

     var database = firebase.firestore().collection("Editors");
     database.onSnapshot(function(Editors){
            console.log("You are in the Display Column");
            var Editorshtml = ""; 
            Editors.forEach(function(editor){
                
                Editorshtml += "<tr>";
                //for editor's name
                Editorshtml += "<td>";
                Editorshtml += editor.id;
                Editorshtml += "</td>";
                
                //for editor's thumbnail
                Editorshtml+= "<td> <img width='250' height='150' src='";
                Editorshtml += editor.data().thumbnail;
                Editorshtml += "' /></td>";
                
                Editorshtml += "</tr>";
            });
            $("#editors").html(Editorshtml);
        
   });
     
</script>